:root {
  --main-heading-font: "Comfortaa", cursive;
  --secondary-font: "Open Sans", sans-serif;
  --primary-color: #f77059;
  --secondary-color: #f65282;
  --hover-color: #f0a958;
  --typical-grey: #9c9d9e;
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  margin-top: 100px;
  color: white;
  text-align: center;
  background: #05090e;
  /* background-image: linear-gradient(180deg, #212529, 75%, #004770); */
}

section {
  text-align: left;
  height: 700px;
  width: 100%;
}

h1,
h2,
h3,
h6 {
  margin: 0;
  font-family: var(--main-heading-font);
}

h1 {
  color: var(--primary-color);
  font-size: 60px;
  letter-spacing: 0.1em;
}

.about-h1 {
  text-align: left;
}

.about-description p {
  line-height: 2;
  padding-right: 50px;
}

.contact-link {
  font-family: var(--main-heading-font);
  text-decoration: none;
  color: var(--typical-grey);
}

.contact-link:hover {
  color: var(--hover-color);
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.about-h3 {
  text-align: left;
  line-height: 2.5;
}

.projects-h3 {
  text-align: right;
  line-height: 2.5;
}

p.project-description-right {
  text-align: right;
  line-height: 2.5;
  margin-top: 20px;
}

p.project-description-left {
  text-align: left;
  line-height: 2.5;
  margin-top: 20px;
}

h4 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: var(--secondary-color);
  text-transform: uppercase;
  text-align: left;
}

h5 {
  font-family: var(--main-heading-font);
  font-size: 45px;
  color: var(--secondary-color);
}

h6 {
  text-align: center;
  color: #4f5050;
  margin-top: 100px;
}

h7 {
  display: block;
  text-align: right;
}

p {
  font: var(--secondary-font);
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.15em;
  font-weight: 300;
}

img {
  /* border-radius: 15px; */
  opacity: 0.9;
}

/* .image-crop img {
  border-radius: 235px !important;
  margin-left: -250px;
} */

.page-title {
  margin-top: 50px;
  font-size: 50px;
}

/* .navbar::after {
  box-shadow: rgba(92, 92, 92, 0.2) 0px 10px 10px 0;
} */

.navbar-brand {
  font-family: var(--main-heading-font);
}

.nav-logo {
  /* font-family: "Lobster", cursive !important; */
  font-family: "Lobster Two", cursive !important;
  font-size: 35px;
  /* color: #fdf905 !important; */
  padding: 0;
}

.nav-logo img {
  border: var(--primary-color);
  border-width: 3px;
  border-radius: 50%;
  box-shadow: #1f1f1f 1px 2px 2px 2px;
}

.nav-logo:hover {
  text-decoration: none;
  transform: scale(1.15);
}

a.active {
  font-weight: 600;
}

.hero {
  padding-top: 100px;
}
.hero h1 {
  font-size: 85px;
  padding-bottom: 20px;
}
.hero h2 {
  font-size: 35px;
  font-family: var(--secondary-font);
  font-weight: 300;
  line-height: 2;
}

.hero h3 {
  font-family: var(--secondary-font);
  font-weight: 300;
}

.scroll {
  text-decoration: none;
}

section.who {
  padding: 150px 100px 100px 100px;
  background-color: #212529;
}

.who p {
  line-height: 2;
  padding-top: 20px;
}
.who img {
  border-radius: 10px;
  border-color: black;
  box-shadow: #252525 4px 4px 5px;
}

section.works {
  padding: 150px 100px 100px 100px;
  background-color: black;
  text-align: right;
}

.works p {
  line-height: 2;
  padding-top: 20px;
  text-align: right;
}

.works img {
  max-width: 100%;
  height: auto;
  border-bottom-right-radius: 200px 200px;
  border-top-right-radius: 200px 200px;
  margin-left: -115px;
}

section.projects {
  padding: 150px 100px 100px 100px;
}

section.weather-app {
  padding: 150px 100px 100px 100px;
  background-color: black;
  text-align: right;
}

.portfolio-header {
  padding-bottom: 50px;
}

.btn-branding {
  border-radius: 50px;
  background: var(--primary-color);
  color: black;
  font-family: var(--main-heading-font);
  font-size: 18px;
  font-weight: 500;
  padding: 12px 18px;
  margin-top: 36px;
}

.btn-branding:hover {
  color: white;
  background-color: var(--typical-grey);
}

.about-container,
.contact-container,
.project-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 75px);
}

.project-container {
  margin-right: 50px;
}

.project-container h1 {
  text-align: right;
}

.contact-section p {
  font-size: 14px;
}
.contact-section {
  height: 550px;
  width: 100%;
}
.contact-details {
  font-family: var(--secondary-font);
}
.contact-icons {
  padding-right: 5px;
}

.fa-envelope {
  padding-right: 5px;
}

.form-group {
  width: 600px;
}

.btn-submit {
  width: 600px !important;
}

.footer {
  margin-top: 50px;
  font-family: var(--main-heading-font);
  padding: 20px;
  text-align: left;
  background-color: #212529;
}

.footer a {
  color: var(--secondary-color);
}
.footer a:hover {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
}

a.email-link {
  color: white;
}
a.email-link:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.social a:hover {
  color: var(--typical-grey) !important;
}

@media (max-width: 576px) {
  .hero h1 {
    padding-bottom: 10px;
    font-size: 45px;
    line-height: 1.25;
  }

  .hero h2 {
    font-size: 18px;
  }

  .hero h3 {
    font-size: 14px;
  }

  h1 {
    padding-bottom: 10px;
    font-size: 45px;
    line-height: 1.25;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 22px;
    text-align: left;
  }

  h6 {
    margin: 50px;
    font-size: 12px;
  }

  p {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.15em;
  }

  section.who {
    padding: 100px 50px;
  }

  section.works {
    padding: 100px 50px;
  }
  .btn-branding {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 16px;
    margin-top: 15px;
  }
  .social {
    font-size: 14px;
    text-align: center;
  }
  .row {
    text-align: center;
  }
  img.about-photo {
    border-radius: 50%;
  }
}

/* @media (max-width: 768px) {
  .hero h1 {
    padding-bottom: 10px;
    font-size: 45px;
    line-height: 1.25;
  }

  .hero h2 {
    font-size: 18px;
  }

  .hero h3 {
    font-size: 12px;
  }

  h1 {
    padding-bottom: 10px;
    font-size: 45px;
    line-height: 1.25;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    margin: 50px;
    font-size: 12px;
  }

  p {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.15em;
  }

  section.who-home {
    padding: 100px 50px;
  }

  section.works {
    padding: 100px 50px;
  }
  .btn-branding {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 16px;
    margin-top: 15px;
  }
  .social {
    font-size: 16px;
  }
} */

/* 
.cards .card {
  box-shadow: #87898a 0px 0px 5px;
}

.card a {
  text-decoration: none;
  color: var(--typical-grey);
}
.card img {
  border-radius: 0px;
}
.card-link {
  text-decoration: none;
  color: var(--typical-grey);
}
.card-link:hover {
  text-decoration: none;
  color: var(--hover-color);
} */
