:root {
  --primary-font-family: "Comfortaa", cursive;
  --secondary-font-family: "Montserrat", sans-serif;
  --primary-color: #f77059;
  --secondary-color: #f0a958;
}

html {
  min-height: 100%;
}

body {
  margin-top: 100px;
  color: white;
  text-align: center;
  background: #05090e;
  /* background-image: linear-gradient(180deg, #212529, 75%, #004770); */
}

h1,
h2,
h3 {
  margin: 0;
  font-family: var(--primary-font-family);
}

h1 {
  color: var(--primary-color);
  font-size: 80px;
  letter-spacing: 0.1em;
}

.about-h1 {
  font-size: 80px;
  color: var(--primary-color);
  text-align: left;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h4 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #f65282;
  text-transform: uppercase;
  text-align: left;
}

p {
  font: var(--secondary-font-family);
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

img {
  border-radius: 15px;
  opacity: 0.9;
}

.navbar-brand {
  /* color: #fc759d !important; */
  font-family: var(--primary-font-family);
}
.content {
  vertical-align: middle;
  padding-top: 150px;
  padding-bottom: 100px;
}

/* .background-image {
  background-image: url(/images/hero-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .hero {
  margin: 0 auto;
  text-align: center;
  padding: 175px;
} */

.footer {
  font-family: var(--primary-font-family);
  padding: 20px;
  text-align: left;
  background-color: #212529;
}
.footer a {
  color: var(--secondary-color);
}

.footer a:hover {
  color: #2bd3cb;
  cursor: pointer;
  text-decoration: none;
}
